<div class="card shadow-sm rounded">
  <form  [formGroup]="form">
    <div class="row p-3">
      <div class="col-lg-3 pt-1">
        <div class="card mb-3">
          <div class="card-header"></div>
          <!-- <div class="d-flex align-self-center pt-3">
            <a>
              <img
              src="C:\Users\gabie\OneDrive - Fatec Centro Paula Souza\Desktop\TCC\SistemaCompra-PG\SistemaCompra\Front\ProEventos-App\src\assets\perfil.jpg"
              name="aboutme" width="120" height="120" class="rounded-circle">
            </a>
          </div> -->
          <div class="card-body">
            <div class="h4 text-center mb-3">{{user.nome}}</div>
            <div class="h7 text-center text-bold pb-1"><b>Cargo: </b>{{user.cargo}}</div>
            <div class="h7 text-center">
              Sou um funcionario da GoodPlace!
            </div>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="form-row">
          <div class="form-group col-12">
            <h3 class="border-bottom">Alterações do Perfil</h3>
          </div>
          <div class="form-group col-sm-5">
            <label>Nome</label>
            <input type="text" formControlName="nome" class="form-control"/>
          </div>
          <div class="form-group col-sm-5">
            <label>Cargo</label>
            <input type="text"  formControlName="cargo" class="form-control" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-5">
            <label>E-mail</label>
            <input type="text"  formControlName="email" class="form-control" />
          </div>
          <div class="form-group col-sm-5">
            <label>Setor</label>
            <input type="text"  formControlName="setor" class="form-control" />
          </div>
        </div>
        <div class="row">
          <div class="d-flex col-10">
            <button class="btn btn-success ml-auto" *ngIf="alterarS" (click)="alterarsenha()">
              <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
              Alterar senha
            </button>
          </div>
        </div>
        <div *ngIf="!alterarS">
          <h3 class="pt-3 border-bottom">Mudar Senha</h3>
          <p>Caso mude de senha, preencha os campos abaixo:</p>
          <div class="form-row">
            <div class="form-group col-sm">
                <label>Senha</label>
      <input [ngClass]="{'is-invalid': f.senhaPas?.errors && f.senhaPas?.touched}" formControlName="senhaPas" type="password" class="form-control" />
                <div class="invalid-feedback" *ngIf="f.senhaPas.errors?.required">
        O Campo senha é obrigatório
      </div>
            </div>
            <div class="form-group col-sm">
                <label>Confirmar Senha</label>
      <input [ngClass]="{'is-invalid': f.confirmarSenha?.errors && f.confirmarSenha?.touched}" formControlName="confirmarSenha" type="password" class="form-control" />
                <div class="invalid-feedback" *ngIf="f.confirmarSenha.errors?.required">
        O Campo confimar Senha é obrigatório
      </div>
                <div class="invalid-feedback" *ngIf="f.confirmarSenha.errors?.mustMatch">
        As senhas precisam ser igual
      </div>
            </div>
          </div>
      </div>

    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="Cancelar()">
          Cancelar Alteração
        </button>
        <button class="btn btn-success ml-5" (click)="atualiza()" *ngIf="alterarS">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Alteração
        </button>
        <button class="btn btn-success ml-5" (click)="Salvarsenha()" *ngIf="!alterarS">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Senha
        </button>
      </div>
    </div>
    </div>
  </form>
</div>

