<app-titulo [titulo]="'Eventos'"></app-titulo>
<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro</label>
    <input type="text"
    class="form-control mr-2"
    placeholder="Buscar"
    [(ngModel)]="GridFilter">
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button class="btn btn-outline-light btn-sm" (click)="AlteraVisibilidadeImg()">
          <i class="{{imgIsVisible ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{imgIsVisible ? "Exibir" : "Ocultar"}}
        </button>
      </th>
      <th class="text-center">Código</th>
      <th class="text-center">Local</th>
      <th class="text-center">Tema</th>
      <th class="text-center">Data</th>
      <th class="text-center">Qtde Pessoas</th>
      <th class="text-center">Lote</th>
      <th class="text-center">Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="imgIsVisible" [isAnimated]= "true" src="/assets/{{evento.imagemURL}}"
        [style.width.px]= imgWidth
        [style.margin.px]= imgMargin
        >
      </td>
      <td class="text-center">{{evento.id}}</td>
      <td class="text-center">{{evento.local}}</td>
      <td class="text-center">{{evento.tema}}</td>
      <td class="text-center">{{evento.dataEvento | DateTimeFormatter}}</td>
      <td class="text-center">{{evento.qtdePessoas}}</td>
      <td class="text-center">{{evento.lotes[0].nome}}</td>
      <td class="text-center">
        <button class="btn btn-primary btn-sm mr-2" tooltip="Editar">
          <i class="fas fa-edit"></i>
        </button>
        <button class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
          <i class="fas fa-trash-alt" ></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos || eventos.length == 0">
    <tr>
      <td colspan="8" class="text-center">
        <h4 >Não há eventos cadastrados</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja excluir esse Evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
