<app-titulo [titulo]="'Usuário'" [subtitulo]="''" [icone]="'fas fa-user-circle'"></app-titulo>

<div class="card p-3 shadow-sm rounded">

  <div class="d-flex">
    <div class="flex-grow-1 pr-2">
      <div class="input-group mb-2">
        <input type="text"
        class="form-control"
        placeholder="Filtrar por Nome de Usuário"
        [(ngModel)]="GridFilter">
        <div class="input-group-append">
          <div class="input-group-text bg-logo">
            <i class="fas fa-filter"></i>
          </div>
        </div>
      </div>
    </div>

    <div>
      <a class="d-flex btn btn-outline-primary" routerLink="/user/cadastro">
        <i class="fas fa-plus-circle my-1"></i>
        <b class="ml-1 d-none d-md-block">Novo</b>
      </a>
    </div>
  </div>

  <table class="table table-striped table-hover">
    <thead class="bg-logo">
      <tr>
        <th class="d-none d-md-table-cell text-center">Código</th>
        <th class="text-center">Nome</th>
        <th class="text-center">Email</th>
        <th class="text-center">Setor</th>
        <th class="d-none d-md-table-cell text-center">Cargo</th>
        <th class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody *ngIf="user && user.length">
      <tr *ngFor="let us of UserFiltrados">
        <td class="d-none d-md-table-cell text-center">{{us.id}}</td>
        <td class="text-center">{{us.nome}}</td>
        <td class="text-center">{{us.email}}</td>
        <td class="text-center">{{us.setor}}</td>
        <td class="d-none d-md-table-cell text-center">{{us.cargo}}</td>
        <td class="text-center">
            <i class="far fa-trash-alt" (click)="openModal($event, template, us.id)" style="color: #d9534f; cursor: pointer; font-size: x-large;"></i>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!user || user.length == 0">
      <tr>
        <td colspan="8" class="text-center">
          <h4 >Não há Usuarios cadastrados</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja excluir esse Usuario?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>

