<div class="card p-3 shadow-sm rounded">


    <div class="row pr-3">
      <div class="input-group mb-2">
        <div class ="col-10">
          </div>
        <div class="col-2">
          <Button class="d-flex btn btn-outline-primary" (click)="openModalValor(ValorMaximo)">
            <i class="fas fa-plus-circle my-1"></i>
            <b class="ml-1 d-none d-md-block">Valor Maximo</b>
          </Button>
      </div>
    </div>


  <table class="table table-striped table-hover">
    <thead class="bg-logo">
      <tr>
        <th class="text-center">Código</th>
        <th class="text-center">Data</th>
        <th class="text-center">Status</th>
        <th class="text-center">Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="pedidos && pedidos.length">
      <tr *ngFor="let pedido of pedidos" (dblclick)="DetalharPedido(pedido.id)">
        <td class="d-none d-md-table-cell text-center">{{pedido.id}}</td>
        <td class="text-center">{{pedido.dataEmissao}}</td>
        <td class="text-center"><i class="fas fa-square fa-2x" [ngStyle]="{'color': GetColorByStatus(pedido.statusAprov)}" [tooltip]="GetTooltipByStatus(pedido.statusAprov)"></i></td>
        <td class="text-center">
            <i class="fas fa-times fa-2x" (click)="openModal(template, pedido.id)" style="color: red; cursor: pointer;"></i>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!pedidos || pedidos.length == 0">
      <tr>
        <td colspan="8" class="text-center">
          <h4 >Não há pedidos cadastrados</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja excluir esse Pedido?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>



<ng-template #ValorMaximo>
  <div class="modal-header">
    <h5 class="modal-title">Valor Máximo para aprovação</h5>
  </div>

  <div class="modal-body">
    <div class="form-group  ">
      <label>Defina o valor máximo para o comprador fazer a aprovação</label>
      <input type="text"  class="form-control" pattern="[0-9.,]+$" ng-model="" placeholder="R$ 0,00"
      [(ngModel)]="valor"  >
    </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-success"  (click)="incluirValor()">Salvar</button>
  </div>
</div>
</ng-template>
