<div class="card p-3 shadow-sm rounded">

<div *ngIf="podeAprovar">
  <div class="d-flex flex-row justify-content-end mb-2">
    <h5 *ngIf="pedidos[0] && pedidos[0].valorMaximo > 0" class="mt-1 text-dark" tooltip="Valor máximo que o comprador pode aprovar um pedido">Valor Máximo Atual: {{pedidos[0]?.valorMaximo | formatCurrency}}</h5>
      <Button class="d-flex ml-3 btn btn-outline-info" (click)="openModalValor(ValorMaximo)" tooltip="Insira qual é o valor máximo para que um comprador possa avaliar o pedido">
        <i class="fas fa-cog  p-0 my-1 fa-lg"></i>
        <b *ngIf="!pedidos[0] || pedidos[0].valorMaximo <= 0" class="ml-1 d-none d-md-block">Valor Máx Avaliação</b>
      </Button>
  </div>
</div>


  <table class="table table-striped table-hover">
    <thead class="bg-logo">
      <tr>
        <th class="text-center">Código</th>
        <th class="text-center">Data</th>
        <th class="text-center">Status</th>
        <th class="text-center" style="width: 12%" >Ações</th>
      </tr>
    </thead>
    <tbody *ngIf="pedidos && pedidos.length">
      <tr *ngFor="let pedido of pedidos" (dblclick)="DetalharPedido(pedido.id)">
        <td class="d-none d-md-table-cell text-center">{{pedido.id}}</td>
        <td class="text-center">{{pedido.dataEmissao}}</td>
        <td class="text-center"><i class="fas fa-square fa-2x" [ngStyle]="{'color': GetColorByStatus(pedido.statusAprov)}" [tooltip]="GetTooltipByStatus(pedido.statusAprov)"></i></td>
        <td class="text-center" style="white-space: nowrap;">
          <i *ngIf="pedido.statusAprov === 2 && podeAprovar" class="fas fa-search " tooltip="Avaliar" (click)="openModalAprovacao(AprovarPedido, pedido)" style="color: #5bc0de; cursor: pointer; font-size: x-large;"></i>
          <i *ngIf="pedido.statusAprov !== 0" tooltip="Excluir" class="far fa-trash-alt mx-3" (click)="openModal(template, pedido.id )" style="color: #d9534f; cursor: pointer; font-size: x-large;"></i>
          </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!pedidos || pedidos.length == 0">
      <tr>
        <td colspan="8" class="text-center">
          <h4 >Não há pedidos cadastrados</h4>
        </td>
      </tr>
    </tfoot>
  </table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja excluir esse Pedido?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>



<ng-template #ValorMaximo>
  <div class="modal-header">
    <h5 class="modal-title">Valor Máximo para aprovação</h5>
  </div>

  <div class="modal-body">
    <div class="form-group  ">
      <label>Defina o valor máximo para o comprador fazer a aprovação</label>
      <input type="text"  class="form-control" pattern="[0-9.,]+$" ng-model="" placeholder="R$ 0,00"
      [(ngModel)]="valor">
    </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-success"  (click)="incluirValor()">Salvar</button>
  </div>
</div>
</ng-template>

<ng-template #AprovarPedido>
  <app-aprovar-pedido [modal]="modalRefAprovacao" [pedido]="pedido" (carregaEventos)="onMudouEvento($event)"></app-aprovar-pedido>
</ng-template>
