<app-titulo [titulo]="'Cotações Recebidas'" [subtitulo]="'Cotações enviadas para você'" [icone]="'fas fa-user-circle'"></app-titulo>
<div class="card p-3 shadow-sm rounded">

  <table class="table table-striped table-hover">
    <thead class="bg-logo">
      <tr>
        <th class="text-right" style="width: 7%;"    *ngIf="iscolumn"></th>
        <th class="text-center"  style="width: 5%;">Código</th>
        <th class="text-center">Data Emissão</th>
        <th class="text-center">Status</th>
        <th class="text-center">Prazo de Oferta</th>
        <th class="text-center">Opção</th>
      </tr>
    </thead>
    <tbody *ngIf="cotacao && cotacao.length">
      <tr *ngFor="let cotacoes of cotacao" (dblclick)=" DetalharCotacao(cotacoes.id)">
        <td class="d-none d-md-table-cell text-right pl-2" style="width: 7%;"  *ngIf="iscolumn">
          <i class="fas fa-exclamation-triangle text-warning fa-lg" *ngIf="cotacoes.prazodiaBool" [tooltip]="GetTooltipAltert(cotacoes.prazoDias)"></i>
       </td>
        <td class="d-none d-md-table-cell text-center"  style="width: 8%;">
           {{cotacoes.id}}
        </td>
        <td class="text-center">{{cotacoes.dataEmissaoCotacao}}</td>
        <td class="text-center">
          <i class="fas fa-square fa-2x" [ngStyle]="{'color': GetColorByStatus(cotacoes.status)}" [tooltip]="GetTooltipByStatus(cotacoes.status)"></i>
        </td>
        <td class="text-center">{{cotacoes.prazoOfertas}}</td>
        <td class="text-center">
        <i tooltip="Excluir" class="far fa-trash-alt mx-3" (click)="openModal(template, cotacoes.id)" style="color: #d9534f; cursor: pointer; font-size: x-large;"></i>
      </td>
      </tbody>

    <tfoot *ngIf="!cotacao|| cotacao.length == 0">
      <tr>
        <td colspan="8" class="text-center">
          <h4 >Não há Cotações para Você</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <p>Deseja realmente excluir esse Item?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
  </div>
</ng-template>

