<app-titulo [titulo]="'Dashboard'" [subtitulo]="'Menu Principal'" [icone]="'fas fas fa-chart-bar'"></app-titulo>
<div class="card p-3 shadow-sm rounded">

  <div class="d-flex mb-2">
    <div class="flex-fill pr-3">
      <select [(ngModel)]="opcao" class="form-control">
        <option [ngValue]="0">Todos</option>
        <option [ngValue]="1">Cotações</option>
        <option [ngValue]="2">Solicitações</option>
        <option [ngValue]="3">Pedidos</option>
      </select>
    </div>


  <div>
    <Button class="d-flex btn btn-outline-primary" (click)="novasoli()">
      <i class="fas fa-plus-circle my-1"></i>
      <b class="ml-1 d-none d-md-block">Nova Solicitação</b>
    </Button>
  </div>
</div>


  <table class="table table-hover">
    <thead class="bg-logo">
    <tr>
        <th class="d-none d-md-table-cell text-center">Código</th>
        <th class="text-center">Tipo</th>
        <th class="text-center">Status</th>
        <th class="text-center">Data</th>
      </tr>
    </thead>
    <tbody *ngIf="Solicitacaocotacoes && Solicitacaocotacoes.length && opcao===1 || opcao===0">
      <tr *ngFor="let cot of Solicitacaocotacoes"  (dblclick)="DetalharCotacao(cot.id)">
        <td class="d-none d-md-table-cell text-center" *ngIf="GetStatus(cot.id) <= 0">{{cot.id}}</td>
        <td class="text-center" *ngIf="GetStatus(cot.id) <= 0">Cotação</td>
        <td class="text-center" *ngIf="GetStatus(cot.id) <= 0">
          <i class="fas fa-square fa-2x" [ngStyle]="{'color': GetColorByStatusCotacao(cot.id).color}" [tooltip]="GetColorByStatusCotacao(cot.id).tooltip"></i>
        </td>
        <td class="text-center" *ngIf="GetStatus(cot.id) <= 0">{{cot.dataSolicitacao}}</td>
      </tr>
    </tbody>
    <tfoot *ngIf="!Solicitacaocotacoes || Solicitacaocotacoes.length == 0 && opcao===1">
      <tr>
        <td colspan="8" class="text-center">
          <h4 >Não há cotações cadastradas</h4>
        </td>
      </tr>
    </tfoot>

    <tbody *ngIf="solicitacoes && solicitacoes.length && opcao===2 || opcao===0">
      <tr *ngFor="let solicitao of solicitacoes" (dblclick)="DetalharSolicitacao(solicitao.id)">
        <td class="d-none d-md-table-cell text-center">{{solicitao.id}}</td>
        <td class="d-none d-md-table-cell text-center">Solicitação</td>
        <td class="text-center">
          <i class="fas fa-square fa-2x" [ngStyle]="{'color': GetColorByStatus(solicitao.statusAprovacao)}" [tooltip]="GetTooltipByStatus(solicitao.statusAprovacao)"></i>
        </td>
        <td class="text-center">{{ solicitao.dataSolicitacao}}</td>
      </tr>
    </tbody>
    <tfoot *ngIf="!solicitacoes || solicitacoes.length == 0 && opcao===2">
      <tr>
        <td colspan="8" class="text-center">
          <h4 >Não há Solicitações cadastrados</h4>
        </td>
      </tr>
    </tfoot>

    <tbody *ngIf="pedidos && pedidos.length && opcao===3 || opcao===0">
      <tr *ngFor="let pedido of pedidos" (dblclick)="DetalharPedido(pedido.id)">
        <td class="d-none d-md-table-cell text-center">{{pedido.id}}</td>
        <td class="text-center">Pedido</td>
        <td class="text-center">
          <i class="fas fa-square fa-2x" [ngStyle]="{'color': GetColorByStatus(pedido.statusAprov)}" [tooltip]="GetTooltipByStatus(pedido.statusAprov)"></i>
        </td>
        <td class="text-center">{{pedido.dataEmissao}}</td>
      </tr>
    </tbody>
    <tfoot *ngIf="!pedidos || pedidos.length == 0 && opcao===3">
      <tr>
        <td colspan="8" class="text-center">
          <h4 >Não há pedidos cadastrados</h4>
        </td>
      </tr>
    </tfoot>
    <tfoot *ngIf="!pedidos && !solicitacoes && !Solicitacaocotacoes &&  opcao===0">
      <tr>
        <td colspan="8" class="text-center">
          <h4 >Não há nada cadastrado</h4>
        </td>
      </tr>
    </tfoot>

  </table>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja excluir esse Evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
