<app-titulo [titulo]="'Cotação'" [subtitulo]="'Cotação para enviar preço'" [icone]="'fas fa-search-dollar'"></app-titulo>
<div class="card shadow-sm rounded">
  <form [formGroup]="form">
    <div class="p-3">
      <div class="d-flex">
        <h2 class="roboto text-muted mr-auto mb-0 pb-0">
          Cotação n°{{this.cotacao?.id}}
        </h2>
      </div>
      <hr class="mt-1">

      <div class="form-row mt-3">
        <div class="form-group col-md-1">
          <label>Código</label>
          <input type="text" class="form-control" readonly
          formControlName="id">
        </div>

        <div class="form-group col-md-3">
          <label>Data Emissão</label>
          <input type="text" class="form-control"
          readonly formControlName="dataEmissaoCotacao" >
        </div>
        <div class="form-group col-md-2">
          <label>Prazo Oferta</label>
          <input
        class="form-control"
        readonly
        formControlName="prazoOfertas">
        </div>

        <div class="form-group col-md-1">
          <label>Frete</label>
          <input type="text" class="form-control"
          formControlName="frete" placeholder="R$ 0,00"  [(ngModel)]="frete"
          [readonly]= isExpirada
          (change)="onKey(frete)">
        </div>

      <div class="form-group col-md-3">
        <label>Data Entrega</label>
        <input type="text" class="form-control"
        bsDatepicker [ngClass]="cssValidation(f.dataEntrega)"
        formControlName="dataEntrega"
        [(ngModel)]="dataEntrega"
        [bsConfig]="bsConfig"
        [minDate]="now"
        [readonly]= isExpirada
        >
      </div>
    </div>
      <div class="d-flex mt-4 no-print">
        <h2 class="roboto text-muted mr-auto mb-0 pb-0 ">
          Itens
        </h2>
      </div>

      <hr class="mt-2">

      <div *ngIf="!ShowAlert" class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Cotação Expirada!</h4>
        Infelizmente essa cotação expirou. Não é possivel realizar o envio de ofertas.
      </div>

      <table class="table table-striped table-hover" *ngIf="ShowAlert">
        <thead class="bg-logo">
          <tr>
            <th class="d-none d-md-table-cell text-center">Código</th>
            <th class="text-center">Descrição</th>
            <th class="text-center">Quantidade</th>
            <th class="text-center no-print" *ngIf="cotacao.status!=2">Enviar Preço</th>
            <th class="text-center no-print">Preço Unitario</th>
            <th class="text-center no-print">Total</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let item of itensCotacoes ">
            <td class="d-none d-md-table-cell text-center" style="width: 10%">
              {{item.idProduto}}
            </td>
            <td class="text-center" style="width: 30%">
              {{getDescricaoproduto(item.idProduto)}}
            </td>
            <td class="d-none d-md-table-cell text-center" style="width: 20%">
              {{item.qtdeProduto}}
            </td>
            <td class="text-center" style="width: 12%" *ngIf="cotacao.status!=2">
              <button class="d-flex btn btn-success ml-4" (click)="OpenProdutosModal(item.id,itemCotacao)">
                <i class="fas fa-dollar-sign"></i>
                </button>
            </td>
            <td class="text-center no-print" style="width: 20%">
              {{item.precoUnit| formatCurrency}}
            </td>
            <td class="text-center no-print" style="width: 10%">
              {{item.totalItem| formatCurrency }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

   <div class="row justify-content-end m-3">
    <div class="col-2">
      <label>Total Cotação</label>
      <br>
      <input type="text" class="form-control"
      formControlName="total" readonly>
    </div>
</div>


    <div class="card-footer no-print">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border no-print" (click)="CancelarForm()">
          Cancelar Alteração
        </button>
        <button class="btn btn-success no-print" *ngIf="cotacao.status!=2" [disabled]="!form.valid"  (click)="EnviarOfertaFornecedor()" >
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Enviar
        </button>
      </div>
    </div>
  </form>
  </div>

<ng-template #itemCotacao>
        <div class="modal-header">
          <h5 class="modal-title">Adicione o Preço Unitario</h5>
        </div>

        <div class="modal-body pb-0">
          <label>Informe o preço Unitario do item escolhido</label>
          <div class="form-group col-m-5 ">
            <input type="text"  class="form-control" pattern="[0-9.,]+$" placeholder="R$ 0,00"
            [(ngModel)]="valor"  >
          </div>
        </div>

        <div class="modal-footer p-1">
          <button type="button" class="btn btn-success"  (click)="IncluirPrecoItem(valor)">Enviar</button>
        </div>
</ng-template>





