<div class="d-flex align-items-center vh-100">
	<div class="mx-auto text-center shadow-sm bg-white rounded p-5 my-5">
    <div class="form-group">
      <form class="form-signin">
        <form [formGroup]="loginForm">
          <i class="fa fa-users mb-2"></i>
          <h1 class="h3 mb-3 font-weight-normal">Entrar com</h1>
          <label for="username" class="sr-only">Usuário</label>
          <input type="email" formControlName="email" id="username" class="form-control" placeholder="Usuário" name="username" required>
          <label for="password" class="sr-only">Password</label>
          <input type="password" id="password" formControlName="senha" class="form-control" placeholder="Senha" name="password" required>
          <button class="btn btn-lg bg-logo btn-block" type="submit" (click)="salvarlogin()">Entrar</button>
          <p class="mt-4 mb-2 text-muted">Esqueceu a senha?</p>
          <a class="btn btn-lg btn-link text-logo btn-block" routerLink="/user/recuperar">Recuperar a senha</a>
        </form>
		  </form>
    </div>
  </div>
</div>


