@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../node_modules/ngx-toastr/toastr.css";
//@import "../node_modules/bootswatch/dist/lumen/bootstrap.min.css";
// "node_modules/ngx-toastr/toastr.css"
.bg-logo{
  background-color: #09A28A;
  color: white;
}

.text-logo{
  color: #09A28A;
}

.cesta-color{
  color: #2E3C5A;
}
