

<body class="text-center" data-gr-c-s-loaded="true">

  <form class="form-signin" #loginForm="ngForm">
    <img class="mb-3" src="../../assets/Logo.PNG" alt="">
    <h1 class="h3 mb-4 font-weight-normal">Login</h1>
    <label for="username" class="sr-only">Usuário</label>
    <input type="email" id="username" class="form-control" placeholder="Usuário" name="username" >
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Senha" name="password" >

    <button [disabled]="!loginForm.valid" class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
  </form>

</body>
