<div class= "only-print"  >
  <a class="navbar-brand mr-0 " routerLink="dashboard">
    <img class="pr-2 pb-2" src="../../../assets/logo_editado_cortado1.png" alt="Responsive image">
</a>
  <h2 class="roboto text-muted mr-auto mb-0 pb-0">
    Relatório de Pedido
  </h2>
</div>



<div class="card shadow-sm rounded">
  <form [formGroup]="form">
    <div class="p-3">
      <div class="d-flex">
        <h2 class="roboto text-muted mr-auto mb-0 pb-0">
          Pedido n°{{pedido.id | number:'3.0'}}
        </h2>
      </div>
      <hr class="mt-1">
      <div *ngIf="pedido.statusAprov === 1 || pedido.statusAprov === 0" class="no-print">
        <label *ngIf="pedido.statusAprov === 0" class="text-success">
          Essa Solicitação já foi Aprovada portanto não pode mais ser alterada <br>
          Comentários de {{aprovador?.nome}}(Aprovador):
        </label>
        <label *ngIf="pedido.statusAprov === 1" class="text-danger">
          Essa Solicitação foi Reprovada. <br> Leia os comentários de quem a reprovou, preencha e envie para a avaliação novamente. <br>
          Comentários de {{aprovador?.nome}}(Avaliador):
        </label>
        <textarea class="form-control my-1 is-valid" readonly formControlName="observacaoRejeicao" placeholder="Observações:" style="height: 100px" [ngClass]="cssStatusValidation()"></textarea>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Codigo Pedido</label>
          <input type="text" class="form-control" readonly
          formControlName="id" placeholder="Nome do aprovador">
          </div>
          <div class="form-group col-md-2">
            <label>Código da cotação</label>
            <input type="text" class="form-control" readonly
            formControlName="id2" placeholder="Código da cotação">
            </div>
            <div class="form-group col-md-2">
              <label>Data Entrega</label>
              <input type="text" class="form-control" readonly
              formControlName="dataEntrega" placeholder="Nome do fornecedor">
            </div>
            <div class="form-group col-md-2">
              <label>Data de Emissão</label>
              <input type="text" readonly class="form-control"
              formControlName="dataEmissao" placeholder="00/00/0000">
            </div>
            <div class="form-group col-md-2">
              <label>Forma de Pagamento</label>
              <input type="text" class="form-control" readonly
              formControlName="formaPagamento" placeholder="Nome do fornecedor">
            </div>
        </div>

        <div class="d-flex mt-4 no-print">
          <h2 class="roboto text-muted mr-auto mb-0 pb-0 ">
            Fornecedor
          </h2>
        </div>
        <hr class="mt-1">


      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Nome do fornecedor</label>
          <input type="text" class="form-control" readonly
          formControlName="nome" placeholder="Nome do fornecedor">
        </div>
        <div class="form-group col-md-4">
          <label>CNPJ</label>
          <input type="text" class="form-control" readonly
          formControlName="cnpj" placeholder="Nome do fornecedor">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label>CEP</label>
          <input type="text" class="form-control" readonly
          formControlName="cep" placeholder="Nome do fornecedor">
        </div>
        <div class="form-group col-md-2">
          <label>Número</label>
          <input type="text" class="form-control" readonly
          formControlName="numero" placeholder="Nome do fornecedor">
        </div>
        <div class="form-group col-md-6">
          <label>Endereço</label>
          <input type="text" class="form-control" readonly
          formControlName="endereco" placeholder="Nome do fornecedor">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Bairro</label>
          <input type="text" class="form-control" readonly
          formControlName="bairro" placeholder="Nome do fornecedor">
        </div>
        <div class="form-group col-md-3">
          <label>Estado</label>
          <input type="text" class="form-control" readonly
          formControlName="estado" placeholder="Nome do fornecedor">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3">
          <label>Telefone</label>
          <input type="text" class="form-control" readonly
          formControlName="telefone" placeholder="Nome do fornecedor">
        </div>
        <div class="form-group col-md-2">
          <label>Inscrição Municipal</label>
          <input type="text" class="form-control" readonly
          formControlName="inscricaoMunicipal" placeholder="Nome do fornecedor">
        </div>
        <div class="form-group col-md-2">
          <label>Inscrição Estadual</label>
          <input type="text" class="form-control" readonly
          formControlName="inscricaoEstadual" placeholder="Nome do fornecedor">
        </div>
        <div class="form-group col-md-2">
          <label>Frete</label>
          <input type="text" class="form-control" readonly
          formControlName="frete" placeholder="Nome do fornecedor">
        </div>
      </div>

      <div class="d-flex mt-4 no-print">
        <h2 class="roboto text-muted mr-auto mb-0 pb-0 ">
          Itens
        </h2>
      </div>

      <hr class="mt-1">

      <table class="table table-striped table-hover">
        <thead class="bg-logo">
          <tr>
            <th class="d-none d-md-table-cell text-center">Código</th>
            <th class="text-center">Descrição</th>
            <th class="text-center">Quantidade</th>
            <th class="text-center no-print">Preço Unitario</th>
            <th class="text-center no-print">Total</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let item of itensPedidos ">
            <td class="d-none d-md-table-cell text-center" style="width: 10%">
              {{item.idProduto}}
            </td>
            <td class="text-center" style="width: 30%">
              {{getDescricaoproduto(item.idProduto)}}
            </td>
            <td class="d-none d-md-table-cell text-center" style="width: 20%">
              {{item.qtdeProduto}}
            </td>
            <td class="text-center no-print" style="width: 20%">
              {{item.precoUnit| formatCurrency}}
            </td>
            <td class="text-center no-print" style="width: 10%">
              {{item.totalItem | formatCurrency}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
      <div class="form-row">
        <div class="form-group ml-3 col-md-8">
          <label>Observação</label>
          <textarea class="form-control" formControlName="observacao"
          placeholder="observacao" style="height: 100px" readonly></textarea>
        </div>
        <div class="form-group col-md-2 ml-4">
          <label>Total</label>
          <input type="text" class="form-control" readonly
          formControlName="total" >
        </div>
      </div>

    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border no-print" (click)="OpenModal(template)">
          Cancelar Alteração
        </button>
        <button class="btn btn-primary mr-2 no-print" *ngIf="pedido.statusAprov == 2 && podeAprovar" [disabled]="!form.valid" (click)="OpenModalAprovacao(AprovarPedido)">
          <div class="d-flex">
            <i class="fas fa-search fa-lg my-1"></i>
            <p class="ml-1 my-0">Aprovar</p>
          </div>
        </button>
        <button  class="btn btn-outline-primary ml-2 no-print" [disabled]="!form.valid" (click)="GerarRelatrio()" >
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Gerar Relatório
        </button>
      </div>
    </div>


<ng-template #AprovarPedido>
  <app-aprovar-pedido [modal]="modalRefAprovacao" [pedido]="pedido" (carregaEventos)="onMudouEvento($event)"></app-aprovar-pedido>
</ng-template>

  <ng-template #template>
    <div class="modal-body text-center">
      <p>Deseja realmente cancelar a alteração?</p>
      <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
    </div>
  </ng-template>



