<app-titulo [titulo]="'Usuários'" [subtitulo]="''" [icone]="'fas fa-user-circle'"></app-titulo>

<div class="container h-100 justify-content-center align-items-center">
  <div class="row mt-4 align-middle">

    <div class="col-md-6 d-none d-md-block border-right" style="height: 450px;" >
      <div class="text-center col-md-12 my-auto side-heder">
        <h1>Cadastro de Usuário</h1>
        <img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
      </div>
      </div>
    <div class="col-md-6" *ngIf="alterarS">

      <form [formGroup]="form" class="p-1">
        <div class="pb-2 d-block d-md-none">
          <h3 class="border-bottom">Cadastro de Usuário</h3>
        </div>
        <div class="form-group">
          <div class="form-group">
            <label>Nome:</label>
            <input type="text" [ngClass]="cssValidator(f.nome)"   formControlName="nome"  class="form-control " placeholder="Insira o Nome completo" />
            <div *ngIf="f.nome.errors?.required" class="invalid-feedback">
              O campo Nome é obrigatório
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-6">
            <label for="">Setor:</label>
            <input [ngClass]="cssValidator(f.setor)" class="form-control" formControlName="setor" n type="text" placeholder="Insira o setor de Usuário" />
            <div *ngIf="f.setor.errors?.required" class="invalid-feedback">
              O campo setor é obrigatório
            </div>
          </div>

          <div class="form-group col-6">
              <label for="">Cargo:</label>
              <select [ngClass]="cssValidator(f.cargo)" class="form-control"
              formControlName="cargo" >
                <option value=""></option>
                <option value="Solicitante">Solicitante</option>
                <option value="Comprador">Comprador</option>
                <option value="Gerente">Gerente</option>
              </select>
              <div *ngIf="f.cargo.errors?.required" class="invalid-feedback">
                O campo cargo é obrigatório
              </div>
          </div>
        </div>
        <div class="form-group ">
          <label for="">Email:</label>
          <input [ngClass]="cssValidator(f.email)" class="form-control"   formControlName="email"  type="text" placeholder="Insira email Completo" />
          <div *ngIf="f.email.errors?.required" class="invalid-feedback">
            O campo email é obrigatório
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-12">
            <button class="btn btn-lg btn-success btn-block px-5" (click)="salvarUser()" [disabled]="!form.valid">
              Registar
            </button>
          </div>
        </div>
        <!-- <div class="form-row">
          <div class="form-group col-12">
            <a class="btn btn-link btn-block" routerlink="/user/login">
              Já sou Cadastrado
            </a>
          </div>
        </div> -->
      </form>
    </div>
  </div>
</div>
