<div class="container h-100 justify-content-center align-items-center">
  <div class="row mt-4 align-middle">

    <div class="col-md-6 d-none d-md-block border-right" style="height: 450px;" >
      <div class="text-center col-md-12 my-auto side-heder" *ngIf="senha">
        <h1>Cadastro de Usuário</h1>
        <!-- <img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px"> -->
      </div>
      </div>
    <div class="col-md-6" *ngIf="alterarS">

      <form [formGroup]="form" class="p-1">
        <div class="pb-2 d-block d-md-none">
          <h3 class="border-bottom">Cadastro de Usuário</h3>
        </div>
        <div class="form-group">
          <div class="form-group">
            <label>Nome</label>
            <input type="text"   formControlName="Nome"  class="form-control " placeholder="Insira o Nome completo" />
          </div>
        </div>
        <div class="form-group">
          <label for="">Setor:</label>
          <input class="form-control" formControlName="setor" n type="text" placeholder="Insira o setor de Usuário" />
        </div>
        <div class="form-group">
          <div class="form-group">
            <label for="">Cargo:</label>
            <input class="form-control"  formControlName="cargo"  type="text" placeholder="Digite seu Cargo do Usuário" />
          </div>
        </div>
        <div class="form-group">
          <label for="">Email:</label>
          <input class="form-control"   formControlName="email"  type="text" placeholder="Insira email Completo" />
        </div>
        <div class="form-row" *ngIf="senha" >
          <div class="form-group col-sm-6">
            <label for="">Senha:</label>
            <input class="form-control" type="password" placeholder="Digite uma Senha" />
          </div>
          <div class="form-group col-sm-6">
            <label for="">Confirmar Senha:</label>
            <input class="form-control"  type="password"    formControlName="senha" placeholder="Confirme a Senha" />
          </div>
        </div>
        <div class="form-row p-1 mb-3">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12">
            <button class="btn btn-lg btn-success btn-block px-5" (click)="salvarUser()" *ngIf="senha">
              Registar
            </button>
          </div>
        </div>
        <!-- <div class="form-row">
          <div class="form-group col-12">
            <a class="btn btn-link btn-block" routerlink="/user/login">
              Já sou Cadastrado
            </a>
          </div>
        </div> -->
      </form>
    </div>
  </div>
</div>
